---
export const prerender = true;

import Layout from "@layouts/Layout.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const pageEntries = await getCollection("page");
  return pageEntries.map((entry) => ({
    params: { slug: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await render(entry);

// Extract SEO data from page
const pageTitle = entry.data.title;
const pageDescription = entry.data.description || "";
---

<Layout title={pageTitle} description={pageDescription}>
  <div
    class="mx-auto max-w-340 w-full px-4 py-10 sm:px-6 sm:py-12 lg:px-8 lg:py-14 font-sans"
  >
    <!-- Content -->
    <article class="">
      <div class="py-8 lg:pe-8">
        <div class="space-y-5 lg:space-y-8">
          <h2 class="text-3xl font-bold lg:text-5xl">
            {entry.data.title}
          </h2>
        </div>
      </div>
      <div class="prose mb-4 max-w-full sm:mb-6">
        <Content />
      </div>
    </article>
    <!-- End Content -->
  </div>
</Layout>
