<div class="mx-auto max-w-6xl pb-10 md:pb-20">
  <div
    class="relative rounded-xl bg-gray-100 p-5 before:absolute before:start-0 before:top-0 before:h-full before:w-2/3 before:bg-[url('/svgs/banner-bg-gray.svg')] before:bg-contain before:bg-top before:bg-no-repeat sm:py-16"
  >
    <div class="relative mx-auto max-w-xl text-center">
      <div class="mb-5">
        <h2 class="text-2xl font-bold md:text-3xl">Subscribe</h2>
        <p class="mt-3 text-gray-500">
          Get all the latest SkyScript updates and news.
        </p>
      </div>

      <div>
        <form>
          <div>
            <div class="flex flex-col gap-3 sm:flex-row">
              <input
                type="email"
                name="email"
                class="block w-full rounded-lg border-gray-200 px-4 py-3 text-sm focus:border-transparent focus:outline-none focus:ring-0 disabled:pointer-events-none disabled:opacity-50"
                placeholder="Email address"
                required
              />
              <input
                type="submit"
                value="Subscribe"
                class="inline-flex items-center justify-center gap-x-2 rounded-lg border border-transparent bg-indigo-600 px-4 py-3 text-sm font-medium text-white hover:bg-indigo-700 focus:bg-indigo-700 focus:outline-none disabled:pointer-events-none disabled:opacity-50"
              />
            </div>

            <!-- field to prevent bot signups -->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input
                type="text"
                name="b_eddd28397383718c2f15e15c2_b97f8fe839"
                tabindex="-1"
                value=""
              />
            </div>
            <!-- end  field to prevent bot signups -->
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
