---
interface Props {
  currentPage: number;
  totalPages: number;
  prevUrl?: string;
  nextUrl?: string;
}

const { currentPage, totalPages, prevUrl, nextUrl } = Astro.props;
---

<nav
  class="mx-auto mb-4 flex max-w-md items-center justify-between gap-x-1"
  aria-label="Pagination"
>
  <a
    href={prevUrl}
    class="inline-flex min-h-[38px] min-w-[38px] items-center justify-center gap-x-2 rounded-lg px-2.5 py-2 text-sm text-gray-800 hover:bg-gray-100 focus:bg-gray-100 focus:outline-none disabled:pointer-events-none disabled:opacity-50 dark:text-white dark:hover:bg-white/10 dark:focus:bg-white/10"
  >
    <span class="sr-only">Go to previous page</span>
    <svg
      class="size-4 shrink-0 text-gray-800"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      aria-hidden="true"
    >
      <path d="m15 18-6-6 6-6"></path>
    </svg>
    <span class="hidden sm:block" aria-hidden="true">Previous</span>
  </a>
  <div class="flex items-center gap-x-1">
    <span
      class="flex min-h-[38px] min-w-[38px] items-center justify-center rounded-lg border border-gray-200 px-3 py-2 text-sm text-gray-700 focus:bg-gray-50 focus:outline-none disabled:pointer-events-none disabled:opacity-50"
      >{currentPage}</span
    >
    <span
      class="flex min-h-[38px] items-center justify-center px-1.5 py-2 text-sm text-gray-500 dark:text-neutral-500"
      >of</span
    >
    <span
      class="flex min-h-[38px] items-center justify-center px-1.5 py-2 text-sm text-gray-500 dark:text-neutral-500"
      >{totalPages}</span
    >
  </div>
  <a
    href={nextUrl}
    class="inline-flex min-h-[38px] min-w-[38px] items-center justify-center gap-x-2 rounded-lg px-2.5 py-2 text-sm text-gray-800 hover:bg-gray-100 focus:bg-gray-100 focus:outline-none disabled:pointer-events-none disabled:opacity-50 dark:text-white dark:hover:bg-white/10 dark:focus:bg-white/10"
  >
    <span class="sr-only">Go to next page</span>
    <span class="hidden sm:block" aria-hidden="true">Next</span>
    <svg
      class="size-3.5 shrink-0 text-gray-800"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      aria-hidden="true"
    >
      <path d="m9 18 6-6-6-6"></path>
    </svg>
  </a>
</nav>
